In [12]:
# Import the yfinance. If you get module not found error the run !pip install yfinance from your Jupyter notebook
import yfinance as yf

# Get the data for the stock AAPL
btc = yf.download('BTC-USD','2018-01-01','2021-12-01')
sp500 = yf.download('^GSPC','2018-01-01','2021-12-01')
gold = yf.download('GC=F','2018-01-01','2021-12-01')
t_10y = yf.download('^TNX','2018-01-01','2021-12-01')
t_5y = yf.download('^FVX','2018-01-01','2021-12-01')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [14]:
gold.Close

Date
2018-01-02    1313.699951
2018-01-03    1316.199951
2018-01-04    1319.400024
2018-01-05    1320.300049
2018-01-08    1318.599976
                 ...
2021-11-24    1784.099976
2021-11-25    1791.400024
2021-11-26    1785.300049
2021-11-29    1782.300049
2021-11-30    1773.599976
Name: Close, Length: 986, dtype: float64

In [4]:
BTC

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,10291200000
2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,16846600192
2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,16871900160
2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,21783199744
2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,23840899072
...,...,...,...,...,...,...
2021-11-26,58960.285156,59183.480469,53569.765625,53569.765625,53569.765625,41810748221
2021-11-27,53736.429688,55329.257812,53668.355469,54815.078125,54815.078125,30560857714
2021-11-28,54813.023438,57393.843750,53576.734375,57248.457031,57248.457031,28116886357
2021-11-29,57291.906250,58872.878906,56792.527344,57806.566406,57806.566406,32370840356
2021-11-30,57830.113281,59113.402344,56057.281250,57005.425781,57005.425781,36708594618

In [8]:
BTC[["Adj Close"]]

               Adj Close
Date
2018-01-01  13657.200195
2018-01-02  14982.099609
2018-01-03  15201.000000
2018-01-04  15599.200195
2018-01-05  17429.500000
...                  ...
2021-11-26  53569.765625
2021-11-27  54815.078125
2021-11-28  57248.457031
2021-11-29  57806.566406
2021-11-30  57005.425781

[1430 rows x 1 columns]