In [27]:
import pandas as pd

In [23]:
# Import the yfinance. If you get module not found error the run !pip install yfinance from your Jupyter notebook
import yfinance as yf

# Get the data for the stock AAPL
btc = yf.download('BTC-USD','2018-01-01','2021-12-31')
sp500 = yf.download('^GSPC','2018-01-01','2021-12-31')
gold = yf.download('GC=F','2018-01-01','2021-12-31')
t_10y = yf.download('^TNX','2018-01-01','2021-12-31')
t_5y = yf.download('^FVX','2018-01-01','2021-12-31')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [42]:
sp500_weekly = sp500.resample('W-Fri').last()[['Close']].rename(columns={"Close": "sp500"})
btc_weekly = btc.resample('W-Fri').last()[['Close']].rename(columns={"Close": "btc"})
gold_weekly = gold.resample('W-Fri').last()[['Close']].rename(columns={"Close": "gold"})
t_10y_weekly = t_10y.resample('W-Fri').last()[['Close']].rename(columns={"Close": "t_10y"})
t_5y_weekly = t_5y.resample('W-Fri').last()[['Close']].rename(columns={"Close": "t_5y"})

In [43]:
import pandas as pd

# Create a list of the tables to merge
tables = []
tables.append(sp500_weekly)
tables.append(btc_weekly)
tables.append(gold_weekly)
tables.append(t_10y_weekly)
tables.append(t_5y_weekly)

# Merge the tables using the 'concat' function
df_merged = pd.concat(tables, axis=1, join="inner")

# View the resulting DataFrame
print(df_merged)

                  sp500           btc         gold  t_10y   t_5y
Date
2018-01-05  2743.149902  17429.500000  1320.300049  2.476  2.285
2018-01-12  2786.239990  13980.599609  1333.400024  2.552  2.347
2018-01-19  2810.300049  11607.400391  1331.900024  2.637  2.436
2018-01-26  2872.870117  11171.400391  1351.599976  2.662  2.470
2018-02-02  2762.129883   8830.750000  1333.699951  2.854  2.599
...                 ...           ...          ...    ...    ...
2021-12-03  4538.430176  53598.246094  1782.000000  1.343  1.124
2021-12-10  4712.020020  47243.304688  1782.900024  1.489  1.252
2021-12-17  4620.640137  46202.144531  1803.800049  1.402  1.177
2021-12-24  4725.790039  50822.195312  1811.199951  1.493  1.243
2021-12-31  4778.729980  47178.125000  1812.699951  1.515  1.274

[209 rows x 5 columns]

In [46]:
df_returns =df_merged.pct_change()

In [47]:
df_returns

               sp500       btc      gold     t_10y      t_5y
Date
2018-01-05       NaN       NaN       NaN       NaN       NaN
2018-01-12  0.015708 -0.197877  0.009922  0.030695  0.027133
2018-01-19  0.008635 -0.169749 -0.001125  0.033307  0.037921
2018-01-26  0.022265 -0.037562  0.014791  0.009480  0.013957
2018-02-02 -0.038547 -0.209522 -0.013244  0.072126  0.052227
...              ...       ...       ...       ...       ...
2021-12-03 -0.012230  0.000532 -0.001848 -0.093792 -0.038495
2021-12-10  0.038249 -0.118566  0.000505  0.108712  0.113879
2021-12-17 -0.019393 -0.022038  0.011722 -0.058428 -0.059904
2021-12-24  0.022757  0.099996  0.004102  0.064907  0.056075
2021-12-31  0.011202 -0.071702  0.000828  0.014735  0.024940

[209 rows x 5 columns]